{{define "footer"}}
    <p class="footer">
      Based on <a href="https://gobyexample.com">Go by Example</a> by <a href="https://markmcgranaghan.com">Mark McGranaghan</a> and <a href="https://eli.thegreenplace.net">Eli Bendersky</a> | <a href="https://github.com/mmcgrana/gobyexample">original source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
    </p>
{{end}}
